page-cart {
    .nolinebreak{
        float: left;
        padding-right: 10px;
    }
    p{
        font-weight: bold;
        font-style: italic;
    }
    h2{
        font-weight: bold;
        font-style: italic;
    }
    h1{
        font-weight: bold;
        font-style: italic;
    }
}
